.button {
  position: relative;
  width: 293px;
  height: 70px;
  border: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0, 0, 0, .15);

  &__cta {
    background-color: #eb7d4b;
  }
}