.button {
  position: relative;
  width: 293px;
  height: 70px;
  border: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  border-radius: 4px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0, 0, 0, .15);

  &--cta {
    background-color: #eb7d4b;
  }

  &--sealblue {
    background-color: #17c2a4;
  }

  &--blue {
    background-color: #30bae7;
  }
}

.buttons-group {
  display: grid;
  width: 376px;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  margin-top: 50px;
  cursor: pointer;

  &__btn {
    width: 84px;
    height: 38px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    color: #393939;
    font-weight: 400;
    @include flex;

    background-color: rgba(0, 0, 0, 0.0784313725490196);

    &--active {
      background-color: #fff;
    }
  }
}