.header {
  padding-top: 50px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 50px;
  min-height: 600px;
  background-color: #87509c;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  .nav {
    &__list {
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      list-style: none;
    }

    &__item {
      width: 77px;
      height: 32px;
      border-radius: 4px;
      text-transform: uppercase;
      @include flex;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;

      &--active {
        background-color: #643a79;
      }

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  &__welcome {
    font-size: 42px;
    color: #f7f3ea;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
    margin: 100px 0 60px 0;
  }
}