@media (max-width: 900px) {
  .about__card {
    flex-basis: 100%;
    justify-content: center;
  }

  .services,
  .header,
  .team,
  .portfolio,
  .about,
  .contact {
    padding: 50px 50px 100px 50px;
  }

  .header {
    &__logo {
      flex-basis: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 50%;
      }
    }

    &__top {
      @include flex;
    }

    .nav {
      margin-top: 30px;
    }
  }


  .cards {
    flex-wrap: wrap;

    @media (max-width: 700px) {
      justify-content: center;
    }
  }

  .card {
    justify-content: center;
  }

  .portfolio__cards img {
    max-width: 100%;
  }
  .footer__social-medias {
    padding: 0;
  }
  .contact__form {
    padding: 0;
  }
}

@media (max-width:500px) {
  .buttons-group {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .buttons-group__btn {
    margin-top: 10px;
  }
}