@media (max-width: 900px) {


  .services,
  .header,
  f .team {
    padding: 50px 50px 100px 50px;
  }

  .header {
    &__logo {
      flex-basis: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 50%;
      }
    }

    &__top {
      @include flex;
    }

    .nav {
      margin-top: 30px;
    }
  }


  .cards {
    flex-wrap: wrap;

    @media (max-width: 700px) {
      justify-content: center;
    }
  }

  .card {
    justify-content: center;
  }
}