.services {
  padding-top: 120px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 50px;
  min-height: 740px;
  background-color: #17c2a4;

  &__paragraph {
    max-width: 590px;
    color: #ffffff;
  }

  &__title {
    font-size: 40px;
    color: #ffffff;
  }

  &__card .card__title {
    color: #fff;
  }

  &__card .card__description {
    color: #fff;
  }
}

.cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.card {
  margin-top:20px;
  max-width: 204px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;

  img {
    height: 120px;
  }

  &__title {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
  }
}